h1 {
	color: #686868;
	letter-spacing: 2px;
	font-family: 'Inter', sans-serif;
	text-align: center;
}

h2 {
	color: #686868;
	letter-spacing: 2px;
	font-family: 'Inter', sans-serif;
}

h3 {
	color: #686868;
	letter-spacing: 2px;
	font-family: 'Inter', sans-serif;
}

p {
	color: #686868;
	font-weight: bold;
}

body {
	background-color: #3b3b3b;
	margin:0px;
	font-family: 'Inter', sans-serif;
}

.backgroundholder {
	width:100%;
}

.sidebar {
	width:100%;
	background-color: #232323;
	height:100%;
	padding-bottom: 125px;

}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
	background-color: #232323;
	<!-- background-color: #001E42; -->
	padding: 30px;	
	text-align: center;
}

.navbar h2 {
		clear:both;
		background-color: #001E42;
		margin: auto;
		width: 100%;
		text-align: center;
		font-family: 'Inter', sans-serif;
		font-weight: 500;
		font-size:15px;
}

.navbar a {
    margin-bottom: 0;
    border-radius: 0;
	padding: 30px;	
	text-align: center;
}

.jumbotron {
	margin:auto;
	float:left;
	width:50%;
	font-weight: 700;
	background-color: rgba(0, 0, 0, 0.0);
	color: #686868;
	text-align: center;
}

.container2 {
		clear: both;
		width:100%;
		text-align: center;
		margin-top:60px;
		font-family: 'Inter', sans-serif;
}

.container2 .large {
		clear:both;
		margin: auto;
		width: 80%;
		text-align: center;
		padding: 5px;
		margin-top: 25px;
		margin-bottom: 50px;
}

	.container2 .large img {
		clear:both;
		width: 100%;
		height: auto;
		margin: auto;
		text-align: center;
		padding: 15px;
		word-wrap: break-word;
	}
	
.container {
	clear: both;
	width:100%;
	text-align: center;
	font-family: 'Inter', sans-serif;
}

.container img{
	clear: both;
	width:70%;
}

.container .box {
		clear:both;
		margin: auto;
		width: 200px;
		text-align: center;
		padding: 0px;
		font-weight: 300;
	}

.duo {
		font-size: 18px;
		clear:both;
		margin: auto;
		width: 100%;
		padding-bottom:50px;
	}
	.duo h1 {
		text-align: left;
			font-size: 30px;
			font-weight: 700;
			clear:both;
			margin: auto;
			width: 100%;
			padding-bottom:5px;
		}
	
.button {
    font-size: 20px;
	margin-top:20px;
	padding:20px 40px 20px 40px;
    text-align: center;
	font-family: 'Inter', sans-serif;
}	

footer {
  height:100px;
  margin:auto;
  padding-top: 10px;
  text-align: center;
}

footer p {
  padding: 25px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 20px;
  padding-right:70px;
  padding-left: 70px;
}
